{% extends 'blog/base.html' %}
{% load static %}

{% block header %}

    <meta name="description" content="CodewithPython is a python blog">
    <link href="{% static 'layout-1/css/styles.css' %}" rel="stylesheet">
	<link href="{% static 'layout-1/css/responsive.css' %}" rel="stylesheet">

{% endblock header %}

{% block content %}
    <section class="blog-area section">
                {% if messages %}
                <ul class="messages col-lg-12 col-md-offset-12 ">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"  {% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
		<div class="container">
			<div class="row">
                {% for post in object_list %}
                    <div class="col-lg-4 col-md-6">
                        <div class="card h-100">
                            <div class="single-post post-style-1">
                                <a href="{{ post.get_absolute_url }}">
                                    <div class="blog-image"><img src="{% static 'images/marion-michele-330691.jpg'%}" alt="Blog Image"></div>
                                </a>
                                <a class="avatar" href="#"><img src="{{ post.author.user_profile.image.url }}" alt="Profile Image"></a>

                                <div class="blog-info">

                                    <h4 class="title"><a href="{{ post.get_absolute_url }}"><b>{{post.title}}</b></a></h4>

                                    <ul class="post-footer">
                                        <li><a href="#"><i class="ion-heart"></i>{{ post.likes }}</a></li>
                                        <li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
                                        <li><a href="#"><i class="ion-eye"></i>138</a></li>
                                    </ul>
                                </div><!-- blog-info -->
                            </div><!-- single-post -->
                        </div><!-- card -->
                    </div><!-- col-lg-4 col-md-6 -->
                {% endfor %}

			</div> 

{#			<a class="load-more-btn" href="#"><b>LOAD MORE</b></a>#}
            {% if is_paginated %}

              {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><<</a>
              {% endif %}

              {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                  <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                  <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">>></a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
              {% endif %}

            {% endif %}

		</div><!-- container -->
    </section><!-- section -->
{% endblock content%}